.contact-section {
    display: grid;
    margin: auto;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 55px;
}

.container {
    margin-top: 2rem;
    position: relative;
    padding: 2rem 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cont {
    font-weight: 600;
    background-image: linear-gradient(to right, #ffd194, #d1913c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1rem, 4vw, 1.3rem);
    text-transform: capitalize;
}

.cont-des {
    font-size: clamp(1rem, 4vw, 2rem);
    text-transform: capitalize;
    margin-top: 8px;
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
        gap: 3rem;
    }
}

.form {
    flex: 1;
}

.form h1 {
    font-size: 1.3rem;
    padding-bottom: 0.7rem;
}

.form form {
    background: linear-gradient(to bottom, white 0%, #D7D0D3 100%);
    padding: 1.2rem;
    border-radius: 10px;
}

.form form .name,
.form form .email,
.form form .message {
    display: flex;
    border: 1px solid gray;
    margin-bottom: 0.5rem;
}

.form form .name input,
.form form .email input,
.form form .message textarea {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    padding: 1rem 0.5rem;
}

.form form .name span,
.form form .email span,
.form form .message span {
    background-color: #D7D0D3;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form form .message .messageIcon {
    align-items: flex-start;
    padding-top: 0.5rem;
}

.form form button {
    font-weight: 300;
    width: 5rem;
    height: 1.8rem;
    background-color: #01be96;
    color: white;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 5px #01be9551);
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.1s ease;
}

.form form button:hover {
    opacity: 0.6;
}