.hall-container {
    display: grid;
    position: relative;
    margin: auto;
    width: 80%;
    height: 50%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.hall-container>img {
    display: flex;
    margin: auto;
    background-color: transparent;
    width: 100%;
    margin-top: 20px;
    filter: brightness(95%);
}

@media (max-width: 768px) {
    .hall-container>img {
        transform: scale(1.1);
    }
}

.hall {
    font-weight: 600;
    background-image: linear-gradient(to right, #ffd194, #d1913c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1rem, 4vw, 1.3rem);
    text-transform: capitalize;
}

.hall-des {
    font-size: clamp(1rem, 4vw, 2rem);
    text-transform: capitalize;
    margin-top: 8px;
}