.hall-container {
    display: grid;
    position: relative;
    margin: auto;
    width: 80%;
    height: 50%;
}

@media (min-width: 500px) {
    .hall-container {
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .hall-container>img {
        filter: brightness(90%);
    }
}

@media (max-width: 500px) {
    .hall-container {
        margin-top: 65px;
        margin-bottom: 60px;
    }

    .hall-container>img {
        filter: brightness(96%);
        transform: scale(1.065);
        padding-top: 5px;
    }
}

.hall-container>img {
    margin: auto;
    background-color: transparent;
    width: 100%;
    margin-top: 20px;
    object-fit: contain;
}

.hall {
    font-weight: 600;
    background-image: linear-gradient(to right, #ffd194, #d1913c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1rem, 4vw, 1.3rem);
    text-transform: capitalize;
}

.hall-des {
    font-size: clamp(1rem, 4vw, 2rem);
    text-transform: capitalize;
    margin-top: 8px;
}