.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: grid;
  place-content: center;
  backdrop-filter: blur(5px);
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);
}
.popups {
  display: none;
}
.popup.open {
  display: block;
}
.offers {
  display: grid;
  place-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid white;
  padding: 3vw;
  height: 40vh;
  width: 40vw;
  background-color: #D7D0D3;
  border-radius: 15px;
}
.offers h4 {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}
.offers h1 {
  font-size: 3vw;
  margin-bottom: 1vw;
  line-height: 6vh;
  margin-bottom: 3.9vh;
}

.offers h3 {
  font-size: 1vw;
  margin-bottom: 3vh;
}

.offers .close-btn {
  position: absolute;
}
.close-btn {
  background: transparent;
  border: none;
  width: 4vw;
  height: 4vh;
  top: 0.4vh;
  left: 43.9vw;
  cursor: pointer;
}
.close-btn > img {
  color: rgb(0, 0, 0);
  height: 4vh;
  position: absolute;
  z-index: 10000;
  top: 25vh;
  left: 26.5vw;
}
.close-btn:hover {
  background-color: red;
  color: black;
}
@media only screen and (max-width: 600px) {
  .popup {
    height: 100vh;
    width: 100vw;
  }
  .offers {
    height: 50vh;
    width: 70vw;
    padding: 5vw;
  }
  .offers h4 {
    font-size: 3vw;
    padding-top: 4vh;
  }
  .offers h1 {
    font-size: 7vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .offers h3 {
    font-size: 3vw;
  }
  .close-btn {
    font-size: 7vw;
    left: 72vw;
    cursor: pointer;
    width: 5.5vw;
    font-weight: 500;
  }
  .close-btn:hover {
    background-color: red;
  }
}
