.pop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pop-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: calc(33.33% - 40px);
    max-width: 200px;
}

.pop-logo>img {
    width: 70px;
    height: auto;
    opacity: 0.9;
}

.pop-box>h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
}

.pop-box>p {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 600px) {
    .pop-box {
        width: calc(50% - 40px);
    }
}