.pop-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pop-box {
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
}

.pop-logo {
    color: rgba(255, 217, 0, 0.6);
    transform: scale(1.5);
}

.pop-box>h1 {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
}

.pop-box>p {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1.5px;
}