.slider-container {
    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 5.5rem;
}

.slider-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider-card img {
    margin: 0 auto;
    width: 100%;
    max-width: 99%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 4/3;
    filter: brightness(80%);
}
