.main {
  margin: 8vw;
  border: 2px solid black;
  /* padding: 4vw; */
  display: flex;
  border-radius: 10px;
  /* height: 70%; */
  /* width: 100%; */
}
.side-image {
  width: 40%;
}
.side-image img {
  height: 70vh;
}
.contact-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* background-color: rgb(155, 226, 232); */
  align-items: center;
  margin-top: 13vh;
}
.contact-container h1 {
  font-size: 4vw;
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Martian_Mono variant0";
}
.contact-container input {
  margin: 1vh;
  height: 2vh;
  border: 2px solid black;
}
.contact-container #name {
  width: 20vw;
  border-radius: 20px;
  height: 4vh;
  padding-left: 1vw;
}
.contact-container #email {
  width: 20vw;
  border-radius: 20px;
  height: 4vh;
  padding-left: 1vw;
}
.contact-container #message {
  width: 20vw;
  height: 15vh;
  border-radius: 20px;
  padding-left: 1vw;
  padding-top: 0px;
  word-wrap: break-word;
}
input[type="text"] {
  text-align: left;
}
.contact-container button {
  border: 1px solid black;
  border-radius: 20px;
  width: 9vw;
  background-color: #60c4ff;
  font-weight: 700;
}
.contact-container button:hover {
  background-color: #273a44;
  color: white;
}
