
.about-container {
    position: relative;
    margin: 0 auto;
    display: grid;
    place-items: center;
    width: 80%;
    height: auto;
    margin-top: 50px;
}

.about-container>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 11px;
    margin-top: 5px;
}

.about-container>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 35px;
}

.about-container>p {
    display: flex;
    text-align: center;
    font-size: 23px;
    line-height: 30px;
}