.slider-container {
    width: calc(100%);
    height: auto;
    margin: 0 auto;
    background-color: transparent;
}

.slider-card {
    display: flex;
    justify-content: center;
    text-align: center;
}

.slider-card img {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    height: 90vh;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(60%);
}
