.slider-container {
    width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: antiquewhite;
}

.slider-card {
    text-align: center;
}

.slider-card img {
    margin: 0 auto;
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(60%);
}
