.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.card {
    position: relative;
    border: 2px solid whitesmoke;
    width: 300px;
    margin: 10px;
    padding: 15px;
    text-align: left;
    line-height: 1.3em;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(to bottom, white 0%, #D7D0D3 100%);
}

@media (max-width: 500px) {
    .card {
        width: auto;
    }
}

.card-bellow {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

.pro-banner {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: top;
    border-radius: 20px;
}

.profile-pic {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    z-index: 1;
    box-shadow: 0px 30px 220px -10px rgba(0, 0, 0, 0.6),
        0px 45px 26px 0px rgba(0, 0, 0, 0.14);
}

@media (min-width: 500px) {
    .profile-pic {
        width: 4rem;
        height: 4rem;
        top: -37px;
        left: 20px;
    }

    .pro-name div {
        font-size: 23px;
    }
}

@media (max-width: 500px) {
    .profile-pic {
        width: 3rem;
        height: 3rem;
        top: -28px;
        left: 15px;
    }

    .pro-name div {
        font-size: 21px;
    }
}

.pro-name div {
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 6px;
}

.card span {
    font-weight: 100;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.class-details {
    padding: 10px;
    letter-spacing: 0.5px;
}

.class-details div {
    margin-bottom: 5px;
}

.class-details h5 {
    font-size: 14px;
    color: #333;
}

.class-details span {
    display: flex;
    place-content: start start;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 10px;
}

.class-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}

.class-btn h5 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.call-btn,
.wapp-btn {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    -webkit-text-fill-color: transparent;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.1s ease;
}

@media (min-width: 500px) {

    .wapp-btn {
        margin-left: 25px;
        margin-right: 30px;
    }
}

@media (max-width: 500px) {

    .wapp-btn {
        margin-left: 15px;
    }

    .call-btn {
        margin-left: 7px;
    }
}

@media (max-width: 429px) {

    .call-btn, .wapp-btn {
        margin-top: 15px;
    }

    .wapp-btn {
        margin-left: 20px;
    }

    .call-btn {
        margin-left: 13px;
    }
}

.call-btn:hover,
.wapp-btn:hover {
    transform: scale(0.9);
}