.banner-container {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}

.banner-container>img {
    margin: auto;
    margin-top: 80px;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
}

.display-text {
    line-height: 1.2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    position: absolute;
    color: black;
    font-size: clamp(12px, 4vw, 32px);
    font-weight: bold;
    text-align: center;
    top: 37%;
    left: 15%;
}

@media (max-width: 768px) {
    .display-text {
        font-size: 24px;
        top: 30%;
        left: 10%;
    }
}

@media (max-width: 480px) {
    .display-text {
        font-size: 18px;
        top: 25%;
        left: 5%;
    }
}
